In [22]:
from PythonLib.dataset import mongodb

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [23]:
dataset = mongodb.MongoClient({
    "mongo_host": "ns396089.ip-37-59-38.eu",
    "mongo_port": 32771,
    "mongo_db_nane": "NETWORK-AND-DISCRETE-LOCATION"
})

In [25]:
dataset.get().head()

      LATITUDE  LONGITUDE        ...          FIXED COST               CITY
ID                               ...
1   121.467360  38.566850        ...              115800  < Sacramento CA >
2    73.799017  42.665750        ...              101800      < Albany NY >
11   84.422592  33.762900        ...               71200     < Atlanta GA >
12   77.474584  37.531050        ...               66600    < Richmond VA >
13   71.017892  42.336029        ...              161400      < Boston MA >

[5 rows x 6 columns]