In [30]:
# Library Utilitaire pour la gestion de projet
import PythonLib
# Database
import pymongo
from pymongo import MongoClient
# Data manipulation
import pandas as pd

Prepare the database client to makes queries, and collect the dataset we need.

In [31]:
mongo_host='ns396089.ip-37-59-38.eu'
mongo_port=32771

author= "Mark S. Daskin"
topic = "NETWORK-AND-DISCRETE-LOCATION"

client = MongoClient(mongo_host, mongo_port)

# Collection where we wich to store our problem
problems = client[topic][author] # client.[db name].[collection name]

Query one dataset and select it based on the metadatas

In [32]:
# fetch all problems, return an iterator
q = {
  'metadata': {
    'author': "Mark S. Daskin",
    'topic': "NETWORK-AND-DISCRETE-LOCATION",
    'dataset':"49-nodes"
  }
} # query select the desired intances
f = {} # filter | select the desired fields
record = problems.find_one(q)

Reformat the dataset to be easy to use via **pandas**

In [33]:
df= pd.DataFrame.from_dict(record["data"])
df= df.set_index(['ID'])
df.head()

      LATITUDE  LONGITUDE  STATE POP  CITY POP  FIXED COST               CITY
ID
1   121.467360  38.566850   29760021    369365      115800  < Sacramento CA >
2    73.799017  42.665750   17990455    101082      101800      < Albany NY >
11   84.422592  33.762900    6478216    394017       71200     < Atlanta GA >
12   77.474584  37.531050    6187358    203056       66600    < Richmond VA >
13   71.017892  42.336029    6016425    574283      161400      < Boston MA >