Proof of Concept - Manipulate datasets in the project
===

In [34]:
# Library Utilitaire pour la gestion de projet
import PythonLib

from os.path import splitext, basename

## CSV

In [35]:
import pandas as pd

author= "Mark S. Daskin"
topic = "NETWORK-AND-DISCRETE-LOCATION"

dataset="88-nodes.csv"

dataset_file = "./Datasets/" + author + "/" + dataset

data = pd.read_csv(dataset_file)

In [36]:
data

,ID,LATITUDE,LONGITUDE,STATE POP,CITY POP,FIXED COST,CITY
0,1,73.945478,40.670543,7322564,2819401,189600,< New York NY >
1,2,118.411201,34.112101,3485398,1217405,244500,< Los Angeles CA >
2,3,87.684965,41.837050,2783726,1025174,78700,< Chicago IL >
3,4,95.386728,29.768700,1630553,616877,58000,< Houston TX >
4,5,75.134678,40.006817,1585577,603075,49400,< Philadelphia PA >
5,6,117.135770,32.814950,1110549,406096,189400,< San Diego CA >
6,7,83.102198,42.383100,1027974,374057,25600,< Detroit MI >
7,8,96.765249,32.794151,1006877,402060,78800,< Dallas TX >
8,9,112.071399,33.542550,983403,369921,77100,< Phoenix AZ >
9,10,98.505355,29.457650,935933,326761,49700,< San Antonio TX >
10,11,121.849783,37.304000,782248,250218,259100,< San Jose CA >
11,12,76.610616,39.300800,736014,276484,54700,< Baltimore MD >
12,13,86.146196,39.776400,731327,291946,60800,< Indianapolis IN >
13,14,122.554783,37.793250,723959,305584,298900,< San Francisco CA >
14,15,81.657695,30.334543,635230,241384,62900,< Jacksonville FL >
15,16,82.987381,39.988933,632910,256996,66000,< Columbus OH >
16,17,87.966740,43.063439,628088,240540,53500,< Milwaukee WI >
17,18,90.005716,35.105778,610337,229829,55700,< Memphis TN >
18,19,77.016167,38.905050,606900,249634,123900,< Washington DC >
19,20,71.017892,42.336029,574283,228464,161400,< Boston MA >
20,21,122.350326,47.621800,516259,236702,137900,< Seattle WA >
21,22,106.437549,31.849250,515342,160545,58500,< El Paso TX >
22,23,81.678511,41.479700,505616,199787,40900,< Cleveland OH >
23,24,89.931355,30.065846,496938,188235,69600,< New Orleans LA >
24,25,86.784829,36.171550,488374,198585,74400,< Nashville-Davidson TN >
25,26,104.872655,39.768035,467610,210952,79000,< Denver CO >
26,27,97.750522,30.305880,465622,192148,72600,< Austin TX >
27,28,97.336249,32.753901,447619,168274,59900,< Fort Worth TX >
28,29,97.513491,35.467050,444719,178662,54900,< Oklahoma City OK >
29,30,122.658200,45.538564,437319,187268,59200,< Portland OR >
...,...,...,...,...,...,...,...
58,59,86.284287,32.354400,187106,69968,62200,< Montgomery AL >
59,60,92.354076,34.722400,175795,72573,64200,< Little Rock AR >
60,61,71.419732,41.821950,160728,58905,113000,< Providence RI >
61,62,111.929921,40.777267,159936,66657,67200,< Salt Lake City UT >
62,63,72.683866,41.765700,139739,51464,133800,< Hartford CT >
63,64,84.553996,42.709100,127321,50635,48400,< Lansing MI >
64,65,116.226100,43.606651,125738,50852,67700,< Boise City ID >
65,66,84.281399,30.457000,124773,50442,72400,< Tallahassee FL >
66,67,95.691999,39.037900,119883,49936,48800,< Topeka KS >
67,68,123.022057,44.924500,107786,40936,60300,< Salem OR >
68,69,89.644654,39.781433,105227,45006,59200,< Springfield IL >
69,70,73.799017,42.665750,101082,42121,101800,< Albany NY >
70,71,80.886341,34.039236,98052,33919,72600,< Columbia SC >
71,72,74.764224,40.223400,88675,30744,71300,< Trenton NJ >
72,73,81.630439,38.350550,57287,25306,66100,< Charleston WV >
73,74,105.954149,35.678502,55859,22789,99000,< Santa Fe NM >
74,75,76.884503,40.276050,52376,21520,38400,< Harrisburg PA >
75,76,104.792349,41.145450,50008,20243,68700,< Cheyenne WY >
76,77,100.767298,46.805467,49256,19315,67900,< Bismarck ND >
77,78,119.743243,39.148328,40443,15895,99300,< Carson City NV >
78,79,71.560077,43.231594,36006,14222,112400,< Concord NH >
79,80,92.190459,38.571902,35481,14162,61500,< Jefferson City MO >
80,81,122.893766,47.041917,33840,14951,77800,< Olympia WA >
81,82,76.503033,38.971650,33187,14061,138500,< Annapolis MD >
82,83,75.517441,39.158691,27630,9903,88700,< Dover DE >
83,84,84.865203,38.190770,25968,11037,61500,< Frankfort KY >
84,85,112.020381,46.596522,24569,10428,63200,< Helena MT >
85,86,69.729714,44.330647,21325,8856,79500,< Augusta ME >
86,87,100.322483,44.372982,12906,5063,59500,< Pierre SD >
87,88,72.571854,44.266482,8247,3514,94100,< Montpelier VT >

## Mongodb

### Create problem

In [37]:
# Generate a connection to our database
from pymongo import MongoClient

mongo_host='ns396089.ip-37-59-38.eu'
mongo_port=32771

client = MongoClient(mongo_host, mongo_port)

# Collection where we wich to store our problem
problems = client[topic][author] # client.[db name].[collection name]

# Prepare the datas to be saved
data.index = data.index.map(str)
record = {
    "metadata": {
        "author": author,
        "topic": topic,
        "dataset": splitext(basename(dataset))[0]
    },
    "data": data.to_dict()
}

# Insert a new entry to the database
problem_id = problems.insert_one(record).inserted_id

### Read problem

In [38]:
# fetch all problems, return an iterator
q = {} # query select the desired intances
f = {} # filter | select the desired fields
records = problems.find(q,f)

In [41]:
list(records)

[]

In [42]:
problems.runCommand('dbHash')

TypeError: 'Collection' object is not callable. If you meant to call the 'runCommand' method on a 'Collection' object it is failing because no such method exists.