Proof of Concept
===

In [1]:
import PythonLib

## CSV

In [16]:
import pandas as pd

author= "Mark S. Daskin"

dataset="88-nodes.csv"

dataset_file = "./Datasets/" + author + "/" + dataset

data = pd.read_csv(dataset_file)

In [17]:
data

,ID,LATITUDE,LONGITUDE,STATE POP,CITY POP,FIXED COST,CITY
0,1,73.945478,40.670543,7322564,2819401,189600,< New York NY >
1,2,118.411201,34.112101,3485398,1217405,244500,< Los Angeles CA >
2,3,87.684965,41.837050,2783726,1025174,78700,< Chicago IL >
3,4,95.386728,29.768700,1630553,616877,58000,< Houston TX >
4,5,75.134678,40.006817,1585577,603075,49400,< Philadelphia PA >
5,6,117.135770,32.814950,1110549,406096,189400,< San Diego CA >
6,7,83.102198,42.383100,1027974,374057,25600,< Detroit MI >
7,8,96.765249,32.794151,1006877,402060,78800,< Dallas TX >
8,9,112.071399,33.542550,983403,369921,77100,< Phoenix AZ >
9,10,98.505355,29.457650,935933,326761,49700,< San Antonio TX >
10,11,121.849783,37.304000,782248,250218,259100,< San Jose CA >
11,12,76.610616,39.300800,736014,276484,54700,< Baltimore MD >
12,13,86.146196,39.776400,731327,291946,60800,< Indianapolis IN >
13,14,122.554783,37.793250,723959,305584,298900,< San Francisco CA >
14,15,81.657695,30.334543,635230,241384,62900,< Jacksonville FL >
15,16,82.987381,39.988933,632910,256996,66000,< Columbus OH >
16,17,87.966740,43.063439,628088,240540,53500,< Milwaukee WI >
17,18,90.005716,35.105778,610337,229829,55700,< Memphis TN >
18,19,77.016167,38.905050,606900,249634,123900,< Washington DC >
19,20,71.017892,42.336029,574283,228464,161400,< Boston MA >
20,21,122.350326,47.621800,516259,236702,137900,< Seattle WA >
21,22,106.437549,31.849250,515342,160545,58500,< El Paso TX >
22,23,81.678511,41.479700,505616,199787,40900,< Cleveland OH >
23,24,89.931355,30.065846,496938,188235,69600,< New Orleans LA >
24,25,86.784829,36.171550,488374,198585,74400,< Nashville-Davidson TN >
25,26,104.872655,39.768035,467610,210952,79000,< Denver CO >
26,27,97.750522,30.305880,465622,192148,72600,< Austin TX >
27,28,97.336249,32.753901,447619,168274,59900,< Fort Worth TX >
28,29,97.513491,35.467050,444719,178662,54900,< Oklahoma City OK >
29,30,122.658200,45.538564,437319,187268,59200,< Portland OR >
...,...,...,...,...,...,...,...
58,59,86.284287,32.354400,187106,69968,62200,< Montgomery AL >
59,60,92.354076,34.722400,175795,72573,64200,< Little Rock AR >
60,61,71.419732,41.821950,160728,58905,113000,< Providence RI >
61,62,111.929921,40.777267,159936,66657,67200,< Salt Lake City UT >
62,63,72.683866,41.765700,139739,51464,133800,< Hartford CT >
63,64,84.553996,42.709100,127321,50635,48400,< Lansing MI >
64,65,116.226100,43.606651,125738,50852,67700,< Boise City ID >
65,66,84.281399,30.457000,124773,50442,72400,< Tallahassee FL >
66,67,95.691999,39.037900,119883,49936,48800,< Topeka KS >
67,68,123.022057,44.924500,107786,40936,60300,< Salem OR >
68,69,89.644654,39.781433,105227,45006,59200,< Springfield IL >
69,70,73.799017,42.665750,101082,42121,101800,< Albany NY >
70,71,80.886341,34.039236,98052,33919,72600,< Columbia SC >
71,72,74.764224,40.223400,88675,30744,71300,< Trenton NJ >
72,73,81.630439,38.350550,57287,25306,66100,< Charleston WV >
73,74,105.954149,35.678502,55859,22789,99000,< Santa Fe NM >
74,75,76.884503,40.276050,52376,21520,38400,< Harrisburg PA >
75,76,104.792349,41.145450,50008,20243,68700,< Cheyenne WY >
76,77,100.767298,46.805467,49256,19315,67900,< Bismarck ND >
77,78,119.743243,39.148328,40443,15895,99300,< Carson City NV >
78,79,71.560077,43.231594,36006,14222,112400,< Concord NH >
79,80,92.190459,38.571902,35481,14162,61500,< Jefferson City MO >
80,81,122.893766,47.041917,33840,14951,77800,< Olympia WA >
81,82,76.503033,38.971650,33187,14061,138500,< Annapolis MD >
82,83,75.517441,39.158691,27630,9903,88700,< Dover DE >
83,84,84.865203,38.190770,25968,11037,61500,< Frankfort KY >
84,85,112.020381,46.596522,24569,10428,63200,< Helena MT >
85,86,69.729714,44.330647,21325,8856,79500,< Augusta ME >
86,87,100.322483,44.372982,12906,5063,59500,< Pierre SD >
87,88,72.571854,44.266482,8247,3514,94100,< Montpelier VT >

## Mongodb

In [18]:
# Generate a connection to our database
from pymongo import MongoClient

mongo_host='ns396089.ip-37-59-38.eu'
mongo_port=32771

client = MongoClient(mongo_host, mongo_port)

# Collection where we wich to store our problem
problems = client.problems[author] # client.[db name].[collection name]

# Prepare the datas to be saved
data.index = data.index.map(str)
record = data.to_dict()

# Insert a new entry to the database
problem_id = problems.insert_one(record).inserted_id

{'ID': {'0': 1,
  '1': 2,
  '2': 3,
  '3': 4,
  '4': 5,
  '5': 6,
  '6': 7,
  '7': 8,
  '8': 9,
  '9': 10,
  '10': 11,
  '11': 12,
  '12': 13,
  '13': 14,
  '14': 15,
  '15': 16,
  '16': 17,
  '17': 18,
  '18': 19,
  '19': 20,
  '20': 21,
  '21': 22,
  '22': 23,
  '23': 24,
  '24': 25,
  '25': 26,
  '26': 27,
  '27': 28,
  '28': 29,
  '29': 30,
  '30': 31,
  '31': 32,
  '32': 33,
  '33': 34,
  '34': 35,
  '35': 36,
  '36': 37,
  '37': 38,
  '38': 39,
  '39': 40,
  '40': 41,
  '41': 42,
  '42': 43,
  '43': 44,
  '44': 45,
  '45': 46,
  '46': 47,
  '47': 48,
  '48': 49,
  '49': 50,
  '50': 51,
  '51': 52,
  '52': 53,
  '53': 54,
  '54': 55,
  '55': 56,
  '56': 57,
  '57': 58,
  '58': 59,
  '59': 60,
  '60': 61,
  '61': 62,
  '62': 63,
  '63': 64,
  '64': 65,
  '65': 66,
  '66': 67,
  '67': 68,
  '68': 69,
  '69': 70,
  '70': 71,
  '71': 72,
  '72': 73,
  '73': 74,
  '74': 75,
  '75': 76,
  '76': 77,
  '77': 78,
  '78': 79,
  '79': 80,
  '80': 81,
  '81': 82,
  '82': 83,
  '83': 84,
  '84': 85,
  '85': 86,
  '86': 87,
  '87': 88},
 'LATITUDE': {'0': 73.94547800000001,
  '1': 118.411201,
  '2': 87.684965,
  '3': 95.386728,
  '4': 75.13467800000001,
  '5': 117.13577,
  '6': 83.102198,
  '7': 96.765249,
  '8': 112.071399,
  '9': 98.50535500000001,
  '10': 121.849783,
  '11': 76.61061600000001,
  '12': 86.146196,
  '13': 122.554783,
  '14': 81.65769499999999,
  '15': 82.987381,
  '16': 87.96674,
  '17': 90.005716,
  '18': 77.01616700000001,
  '19': 71.017892,
  '20': 122.350326,
  '21': 106.437549,
  '22': 81.678511,
  '23': 89.93135500000001,
  '24': 86.784829,
  '25': 104.87265500000001,
  '26': 97.750522,
  '27': 97.336249,
  '28': 97.513491,
  '29': 122.6582,
  '30': 94.554781,
  '31': 118.159824,
  '32': 110.89171699999999,
  '33': 90.244299,
  '34': 80.834514,
  '35': 84.42259200000001,
  '36': 76.04366800000001,
  '37': 106.62463600000001,
  '38': 122.22455,
  '39': 79.976702,
  '40': 121.46736000000001,
  '41': 93.266849,
  '42': 95.91640699999999,
  '43': 84.505957,
  '44': 80.21084499999999,
  '45': 119.792874,
  '46': 96.01174499999999,
  '47': 83.581649,
  '48': 78.859684,
  '49': 97.342674,
  '50': 93.103686,
  '51': 91.12604300000001,
  '52': 78.658753,
  '53': 77.474584,
  '54': 90.20759100000001,
  '55': 93.617405,
  '56': 96.688171,
  '57': 89.387519,
  '58': 86.284287,
  '59': 92.354076,
  '60': 71.419732,
  '61': 111.929921,
  '62': 72.68386600000001,
  '63': 84.553996,
  '64': 116.2261,
  '65': 84.281399,
  '66': 95.691999,
  '67': 123.022057,
  '68': 89.644654,
  '69': 73.799017,
  '70': 80.886341,
  '71': 74.764224,
  '72': 81.630439,
  '73': 105.954149,
  '74': 76.88450300000001,
  '75': 104.792349,
  '76': 100.767298,
  '77': 119.74324299999999,
  '78': 71.560077,
  '79': 92.19045899999999,
  '80': 122.89376599999999,
  '81': 76.503033,
  '82': 75.517441,
  '83': 84.86520300000001,
  '84': 112.020381,
  '85': 69.729714,
  '86': 100.32248299999999,
  '87': 72.571854},
 'LONGITUDE': {'0': 40.670543,
  '1': 34.112101,
  '2': 41.83705,
  '3': 29.7687,
  '4': 40.006817,
  '5': 32.81495,
  '6': 42.3831,
  '7': 32.794151,
  '8': 33.54255,
  '9': 29.45765,
  '10': 37.304,
  '11': 39.3008,
  '12': 39.7764,
  '13': 37.79325,
  '14': 30.334543,
  '15': 39.988933,
  '16': 43.063439,
  '17': 35.105778,
  '18': 38.90505,
  '19': 42.336028999999996,
  '20': 47.6218,
  '21': 31.84925,
  '22': 41.4797,
  '23': 30.065846,
  '24': 36.17155,
  '25': 39.768035,
  '26': 30.30588,
  '27': 32.753901,
  '28': 35.46705,
  '29': 45.538564,
  '30': 39.122474,
  '31': 33.7889,
  '32': 32.195816,
  '33': 38.63605,
  '34': 35.19755,
  '35': 33.7629,
  '36': 36.739356,
  '37': 35.117218,
  '38': 37.771544,
  '39': 40.439207,
  '40': 38.56685,
  '41': 44.96185,
  '42': 36.12775,
  '43': 39.139801,
  '44': 25.775667000000002,
  '45': 36.7806,
  '46': 41.2639,
  '47': 41.66395,
  '48': 42.8898,
  '49': 37.68735,
  '50': 44.947744,
  '51': 30.448967,
  '52': 35.82195,
  '53': 37.53105,
  '54': 32.3205,
  '55': 41.576738,
  '56': 40.8164,
  '57': 43.0798,
  '58': 32.3544,
  '59': 34.7224,
  '60': 41.82195,
  '61': 40.777266999999995,
  '62': 41.7657,
  '63': 42.7091,
  '64': 43.606651,
  '65': 30.456999999999997,
  '66': 39.0379,
  '67': 44.9245,
  '68': 39.781433,
  '69': 42.66575,
  '70': 34.039235999999995,
  '71': 40.2234,
  '72': 38.35055,
  '73': 35.678502,
  '74': 40.27605,
  '75': 41.14545,
  '76': 46.805467,
  '77': 39.148328,
  '78': 43.231594,
  '79': 38.571902,
  '80': 47.041917,
  '81': 38.97165,
  '82': 39.158691,
  '83': 38.19077,
  '84': 46.596522,
  '85': 44.330647,
  '86': 44.372982,
  '87': 44.266482},
 'STATE POP.': {'0': 7322564,
  '1': 3485398,
  '2': 2783726,
  '3': 1630553,
  '4': 1585577,
  '5': 1110549,
  '6': 1027974,
  '7': 1006877,
  '8': 983403,
  '9': 935933,
  '10': 782248,
  '11': 736014,
  '12': 731327,
  '13': 723959,
  '14': 635230,
  '15': 632910,
  '16': 628088,
  '17': 610337,
  '18': 606900,
  '19': 574283,
  '20': 516259,
  '21': 515342,
  '22': 505616,
  '23': 496938,
  '24': 488374,
  '25': 467610,
  '26': 465622,
  '27': 447619,
  '28': 444719,
  '29': 437319,
  '30': 435146,
  '31': 429433,
  '32': 405390,
  '33': 396685,
  '34': 395934,
  '35': 394017,
  '36': 393069,
  '37': 384736,
  '38': 372242,
  '39': 369879,
  '40': 369365,
  '41': 368383,
  '42': 367302,
  '43': 364040,
  '44': 358548,
  '45': 354202,
  '46': 335795,
  '47': 332943,
  '48': 328123,
  '49': 304011,
  '50': 272235,
  '51': 219531,
  '52': 207951,
  '53': 203056,
  '54': 196637,
  '55': 193187,
  '56': 191972,
  '57': 191262,
  '58': 187106,
  '59': 175795,
  '60': 160728,
  '61': 159936,
  '62': 139739,
  '63': 127321,
  '64': 125738,
  '65': 124773,
  '66': 119883,
  '67': 107786,
  '68': 105227,
  '69': 101082,
  '70': 98052,
  '71': 88675,
  '72': 57287,
  '73': 55859,
  '74': 52376,
  '75': 50008,
  '76': 49256,
  '77': 40443,
  '78': 36006,
  '79': 35481,
  '80': 33840,
  '81': 33187,
  '82': 27630,
  '83': 25968,
  '84': 24569,
  '85': 21325,
  '86': 12906,
  '87': 8247},
 'CITY POP.': {'0': 2819401,
  '1': 1217405,
  '2': 1025174,
  '3': 616877,
  '4': 603075,
  '5': 406096,
  '6': 374057,
  '7': 402060,
  '8': 369921,
  '9': 326761,
  '10': 250218,
  '11': 276484,
  '12': 291946,
  '13': 305584,
  '14': 241384,
  '15': 256996,
  '16': 240540,
  '17': 229829,
  '18': 249634,
  '19': 228464,
  '20': 236702,
  '21': 160545,
  '22': 199787,
  '23': 188235,
  '24': 198585,
  '25': 210952,
  '26': 192148,
  '27': 168274,
  '28': 178662,
  '29': 187268,
  '30': 177607,
  '31': 158975,
  '32': 162685,
  '33': 164931,
  '34': 158991,
  '35': 155752,
  '36': 135566,
  '37': 153818,
  '38': 144521,
  '39': 153483,
  '40': 144444,
  '41': 160682,
  '42': 155447,
  '43': 154342,
  '44': 130252,
  '45': 121807,
  '46': 133842,
  '47': 130883,
  '48': 136436,
  '49': 123249,
  '50': 110249,
  '51': 83340,
  '52': 85822,
  '53': 85337,
  '54': 71865,
  '55': 78453,
  '56': 75402,
  '57': 77361,
  '58': 69968,
  '59': 72573,
  '60': 58905,
  '61': 66657,
  '62': 51464,
  '63': 50635,
  '64': 50852,
  '65': 50442,
  '66': 49936,
  '67': 40936,
  '68': 45006,
  '69': 42121,
  '70': 33919,
  '71': 30744,
  '72': 25306,
  '73': 22789,
  '74': 21520,
  '75': 20243,
  '76': 19315,
  '77': 15895,
  '78': 14222,
  '79': 14162,
  '80': 14951,
  '81': 14061,
  '82': 9903,
  '83': 11037,
  '84': 10428,
  '85': 8856,
  '86': 5063,
  '87': 3514},
 'FIXED COST': {'0': 189600,
  '1': 244500,
  '2': 78700,
  '3': 58000,
  '4': 49400,
  '5': 189400,
  '6': 25600,
  '7': 78800,
  '8': 77100,
  '9': 49700,
  '10': 259100,
  '11': 54700,
  '12': 60800,
  '13': 298900,
  '14': 62900,
  '15': 66000,
  '16': 53500,
  '17': 55700,
  '18': 123900,
  '19': 161400,
  '20': 137900,
  '21': 58500,
  '22': 40900,
  '23': 69600,
  '24': 74400,
  '25': 79000,
  '26': 72600,
  '27': 59900,
  '28': 54900,
  '29': 59200,
  '30': 56100,
  '31': 222900,
  '32': 66800,
  '33': 50700,
  '34': 81300,
  '35': 71200,
  '36': 96500,
  '37': 85900,
  '38': 177400,
  '39': 41200,
  '40': 115800,
  '41': 71700,
  '42': 60500,
  '43': 61900,
  '44': 79200,
  '45': 80300,
  '46': 54600,
  '47': 48900,
  '48': 46700,
  '49': 56700,
  '50': 70900,
  '51': 67900,
  '52': 96600,
  '53': 66600,
  '54': 54600,
  '55': 49500,
  '56': 61700,
  '57': 75200,
  '58': 62200,
  '59': 64200,
  '60': 113000,
  '61': 67200,
  '62': 133800,
  '63': 48400,
  '64': 67700,
  '65': 72400,
  '66': 48800,
  '67': 60300,
  '68': 59200,
  '69': 101800,
  '70': 72600,
  '71': 71300,
  '72': 66100,
  '73': 99000,
  '74': 38400,
  '75': 68700,
  '76': 67900,
  '77': 99300,
  '78': 112400,
  '79': 61500,
  '80': 77800,
  '81': 138500,
  '82': 88700,
  '83': 61500,
  '84': 63200,
  '85': 79500,
  '86': 59500,
  '87': 94100},
 'CITY': {'0': '< New York NY >',
  '1': '< Los Angeles CA >',
  '2': '< Chicago IL >',
  '3': '< Houston TX >',
  '4': '< Philadelphia PA >',
  '5': '< San Diego CA >',
  '6': '< Detroit MI >',
  '7': '< Dallas TX >',
  '8': '< Phoenix AZ >',
  '9': '< San Antonio TX >',
  '10': '< San Jose CA >',
  '11': '< Baltimore MD >',
  '12': '< Indianapolis IN >',
  '13': '< San Francisco CA >',
  '14': '< Jacksonville FL >',
  '15': '< Columbus OH >',
  '16': '< Milwaukee WI >',
  '17': '< Memphis TN >',
  '18': '< Washington DC >',
  '19': '< Boston MA >',
  '20': '< Seattle WA >',
  '21': '< El Paso TX >',
  '22': '< Cleveland OH >',
  '23': '< New Orleans LA >',
  '24': '< Nashville-Davidson TN >',
  '25': '< Denver CO >',
  '26': '< Austin TX >',
  '27': '< Fort Worth TX >',
  '28': '< Oklahoma City OK >',
  '29': '< Portland OR >',
  '30': '< Kansas City MO >',
  '31': '< Long Beach CA >',
  '32': '< Tucson AZ >',
  '33': '< St. Louis MO >',
  '34': '< Charlotte NC >',
  '35': '< Atlanta GA >',
  '36': '< Virginia Beach VA >',
  '37': '< Albuquerque NM >',
  '38': '< Oakland CA >',
  '39': '< Pittsburgh PA >',
  '40': '< Sacramento CA >',
  '41': '< Minneapolis MN >',
  '42': '< Tulsa OK >',
  '43': '< Cincinnati OH >',
  '44': '< Miami FL >',
  '45': '< Fresno CA >',
  '46': '< Omaha NE >',
  '47': '< Toledo OH >',
  '48': '< Buffalo NY >',
  '49': '< Wichita KS >',
  '50': '< St. Paul MN >',
  '51': '< Baton Rouge LA >',
  '52': '< Raleigh NC >',
  '53': '< Richmond VA >',
  '54': '< Jackson MS >',
  '55': '< Des Moines IA >',
  '56': '< Lincoln NE >',
  '57': '< Madison WI >',
  '58': '< Montgomery AL >',
  '59': '< Little Rock AR >',
  '60': '< Providence RI >',
  '61': '< Salt Lake City UT >',
  '62': '< Hartford CT >',
  '63': '< Lansing MI >',
  '64': '< Boise City ID >',
  '65': '< Tallahassee FL >',
  '66': '< Topeka KS >',
  '67': '< Salem OR >',
  '68': '< Springfield IL >',
  '69': '< Albany NY >',
  '70': '< Columbia SC >',
  '71': '< Trenton NJ >',
  '72': '< Charleston WV >',
  '73': '< Santa Fe NM >',
  '74': '< Harrisburg PA >',
  '75': '< Cheyenne WY >',
  '76': '< Bismarck ND >',
  '77': '< Carson City NV >',
  '78': '< Concord NH >',
  '79': '< Jefferson City MO >',
  '80': '< Olympia WA >',
  '81': '< Annapolis MD >',
  '82': '< Dover DE >',
  '83': '< Frankfort KY >',
  '84': '< Helena MT >',
  '85': '< Augusta ME >',
  '86': '< Pierre SD >',
  '87': '< Montpelier VT >'}}